/* mobile view */

@media all and (max-width: 768px) {

  header {
    background-color: #EAFAF1;
    height: 75px;
    /* justify-items: stretch;
    align-self: center; */
  }

  main {
    /* justify-items: stretch;
    align-items: center; */
  }

  aside {
    background-color: #DAF7A6;
  }

  .c {
    background-color: #F9E79F;
  }

  .d {
    background-color: #FDD16C;
  }

  .e {
    background-color: #F5B041;
  }

  .f {
    background-color: #DC7633;
  }

  .g {
    background-color: #D35400;
  }

  .h {
    background-color: #BA4A00;
  }

  .i {
    background-color: #A04000;
    /* justify-items: stretch; */
  }

}

/* PC view */
@media all and (min-width: 769px) {
  header {
    background-color: #E5E7E9;
  }

  aside {
    background-color: #D7DBDD;
  }

  .c {
    background-color: #CACFD2;
  }

  .d {
    background-color: #B2BABB;
  }

  .e {
    background-color: #99A3A4;
  }

  .f {
    background-color: #7F8C8D;
  }

  .g {
    background-color: #616A6B;
  }

  .h {
    background-color: #34495E;
  }

  .i {
    background-color: #515A5A;
  }
}